<tr>
  <td>{{this.id}}</td>
  <td>{{this.title}}</td>
  <td>{{this.year}}</td>
  <td>
    <a href="/movie/delete/{{this.id}}">löschen</a>
  </td>
  <td>
    <a href="/movie/form/{{this.id}}">bearbeiten</a>
  </td>
</tr>
